<!-- <app-courses-list></app-courses-list> -->
<!-- <app-login></app-login>
<button (click)="getCWU()">courses with users</button> -->

<nav>
    <ul>
        <li><a routerLink="">home</a></li>
        <li><a routerLink="login">login</a></li>
        
        @if(userService.token){ 
            <!-- מציג את הקישורית רק למשתמש רשום -->
            <li><a routerLink="list">list (for registres)</a></li>
        }

        @if(userService.currentUser?.role === 'admin'){ 
            <li><a routerLink="manager">manager</a></li>
        }
    </ul>
</nav>
<router-outlet></router-outlet>